* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  text-align: center;
  font-size: 30px;
  width: 500px;
  margin: 0px auto;
  margin-top: 50px;
}

.search {
  width: 1000px;
  margin: 0px auto;
  margin-top: 50px;
  input {
    width: 300px;
    height: 25px;
  }
  button {
    width: 100px;
    height: 25px;
  }
}

.table {
  width: 1000px;
  margin: 0px auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  table {
    width: 800px;
  }
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th,
  td {
    padding: 5px;
  }
  th {
    text-align: left;
  }
  &__input{
      width: 150px;
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
}
